<?xml version="1.0" encoding="utf-8"?>
<launch>
  <arg name="veh" default="racecar" doc="robot type"/>
  <arg name="racecar_version" default="racecar-v2" />

  <group ns="$(arg veh)">
    
    <!-- Convert cmd_vel to ackermann_drive -->
    <node name="cmd_vel_to_ackermann_drive" pkg="astar_path_planning" type="cmd_vel_to_ackermann_drive.py" output="screen" required="true">
    </node>

    <!-- start electronic speed controller driver -->
    <include file="$(find racecar)/launch/includes/$(arg racecar_version)/vesc.launch.xml" >
      <arg name="racecar_version" value="$(arg racecar_version)" />
    </include>

  </group>  <!-- End namespace -->
</launch>
