<launch>
    <arg name="joy_dev" default="/dev/input/js0" />
    <arg name="veh" default="racecar" />
    <group ns="$(arg veh)">

      <node pkg="joy" type="joy_node" name="joy_node">
        <param name="dev" value="$(arg joy_dev)" />
        <param name="deadzone" value="0.1" />
      </node>

      <!-- joy_mapper -->
      <node pkg="teleop_twist_joy" type="joy_mapper_node.py" name="joy_mapper_node" output="screen">
      </node>

    </group>

</launch>
